.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;  /* Formun genişliğini ayarladık */
    margin: 0 auto;  /* Formu ortaladık */
    font-family: "Montserrat", sans-serif;

}
h2{
    font-family: "Montserrat", sans-serif;

}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    font-size: 14px;  /* Input alanlarını biraz küçülttük */
    padding: 10px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}
