body, .navbar, .navbar-nav, .navbar-brand, .nav-item, .nav-link {
  font-family: "Montserrat", "Varela", "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  font-weight: 490;
}

.nav-tabs .nav-link {
  cursor: pointer;
  margin-bottom: 16px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  position: relative;
  padding-bottom: 15px;
  font-size: 17px;
  color: #797c93;
  line-height: 38px;
  text-transform: capitalize;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa; 
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .navbar {
    justify-content: flex-start;
    padding: 10px;
  }

  .navbar-collapse {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links .nav-item {
    width: 100%;
    text-align: left;
  }

  .navbar-links .nav-item a {
    padding: 10px 0;
  }

  .search-bar input {
    width: 100%;
    margin-bottom: 10px;
  }
}



@media (max-width: 768px) {
  .shopping-cart:hover .dropdown-menu {
    display: none !important;
  }
}
.navbar-brand {
  display: flex;
  align-items: center;
  font-size: 23px;
  color: #6AA846;
  font-weight: bold;
  text-decoration: none;
  margin-left: 17px;
  margin-top: 5px;
  line-height: 1.2;
  letter-spacing: 0.3px;
}

.support-info {
  display: flex;
  align-items: center;
  color: #6AA846;
  margin-top: 5px;
  margin-left: 32px;
}

.support-info i {
  font-size: 20px;
  margin-right: 5px;
}

.support-number {
  margin-left: 10px;
  color: #333;
  text-decoration: none;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 31px;
  font-size: 17px;
  font-weight: 400;
}

.navbar-links .nav-item {
  list-style: none;
  
}

.navbar-links .nav-item a {
  text-decoration: none;
  font-weight: 340px;
  font-size: 18px;
  display: block;
  color: #78827b;
  line-height: 1.5;
  letter-spacing: 0.5px;
  /* text-transform: uppercase; */
  padding: 10px 15px;
  
  position: relative;
}

.navbar-links .nav-item a:hover {
  color: #738a67;
}

.navbar-links .nav-item a:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 1.4px; 
  background-color: #419fa5; 
  transition: width 0.2s ease-in-out, left 0.2s ease-in-out; 
  width: 0;
  max-width: 80%; 
}

.navbar-links .nav-item a:hover:after {
  width: 80%; 
  left: 10%; 
}
.navbar-collapse {
  display: flex;
  justify-content: flex-end;
}

.navbar-nav {
  display: flex;
  align-items: center;
  gap: 1px;
  font-weight: 400;
  margin-right: 55px;
}

.navbar-nav .nav-link {
  padding: 5px 10px;
  font-size: 16px;
  color: #333;
}


.navbar-links .nav-item a:hover {
  color: #228cb6; 
}

.navbar-toggler {
  margin-left: auto;
}

#admin-panel {
  background-color: rgba(19, 99, 185, 0.404);
  color: black;
}
.dropdown-menu {
  display: none;
}

.dropdown-menu.show {
  display: block;
}