<div id="sidebar-wrapper" class="bg-dark text-white">
    <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom">
      <i class="fas fa-user-secret me-2"></i>Admin Panel
    </div>
    <div class="list-group list-group-flush my-3">
      <!-- <a routerLink="/admin-panel/dashboard" class="list-group-item list-group-item-action bg-transparent text-white">
        <i class="fas fa-tachometer-alt"></i> Dashboard
      </a> -->  
      <a routerLink="/admin-panel/users" class="list-group-item list-group-item-action bg-transparent text-white">
        <i class="fas fa-users"></i> User Management
      </a>
      <a routerLink="/admin-panel/books" class="list-group-item list-group-item-action bg-transparent text-white">
        <i class="fas fa-book"></i> Book Management
      </a>
      <a routerLink="/admin-panel/reviews" class="list-group-item list-group-item-action bg-transparent text-white">
        <i class="fas fa-comments"></i> Review Management
      </a>
      <a routerLink="/admin-panel/orders" class="list-group-item list-group-item-action bg-transparent text-white">
        <i class="fas fa-shopping-cart"></i> Order Management
      </a>
    </div>
  </div>
  