<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-lg-3 col-md-6">
      <div class="card bg-primary text-white mb-4">
        <div class="card-body">
          <div>İstifadəçilər</div>
          <div>798</div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card bg-warning text-white mb-4">
        <div class="card-body">
          <div>Səhifə baxış sayları</div>
          <div>9454</div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card bg-success text-white mb-4">
        <div class="card-body">
          <div>Ortalam  vaxt</div>
          <div>00:04:30</div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card bg-danger text-white mb-4">
        <div class="card-body">
          <div>Bounce Rate</div>
          <div>1.55%</div>
        </div>
      </div>
    </div>
  </div>
</div>
