footer {
    background-color: #343a40;  
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;  
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;

}
h5{
    font-family: "Montserrat", sans-serif;
    font-size: 19px;

}
footer a {    font-family: "Montserrat", sans-serif;

    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    color: #d1d1d1;
    text-decoration: underline;
}

footer hr {
    border-color: rgba(255, 255, 255, 0.1);
}

footer ul li a {
    color: white;
    font-size: 16px;
    margin-right: 15px;  
}

footer ul li a:hover {
    color: #b0b0b0;
}
