<footer class="bg-dark text-white pt-3 pb-3" style="font-family: 'Montserrat', sans-serif; width: 90%; margin: 0 auto;">
    <div class="container text-center text-md-left">
        <div class="row text-center text-md-left">
            <!-- Haqqımızda Section -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-3 font-weight-bold">Haqqımızda</h5>
                <p>
                    BakuKitabEvi, Azərbaycanda ən geniş kitab kolleksiyasını təqdim edir. Keyfiyyətli kitablar və etibarlı alış-veriş təcrübəsi ilə oxucularımıza xidmət göstəririk.
                </p>
            </div>
            <!-- Əlaqə Section -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-3 font-weight-bold">Əlaqə</h5>
                <p><a href="#" class="text-white">Əlaqə Formu</a></p>
                <p><a href="#" class="text-white">Tez-tez Verilən Suallar</a></p>
            </div>
            <!-- Tez Bağlantılar Section -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-3 font-weight-bold">Tez Bağlantılar</h5>
                <p><a href="#" class="text-white">Hesabım</a></p>
                <p><a href="#" class="text-white">Sifariş Tarixi</a></p>
            </div>
            <!-- Əlaqə Məlumatları Section -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-3 font-weight-bold">Əlaqə Məlumatları</h5>
                <p><i class="fas fa-home mr-3"></i> Bakı, Azərbaycan</p>
                <p><i class="fas fa-phone mr-3"></i> +994 55 285 92 63</p>
            </div>
        </div>

        <hr class="mb-3" style="border-color: rgba(255, 255, 255, 0.1);">

        <div class="row align-items-center">
            <div class="col-md-7 col-lg-8">
                <p class="text-center text-md-left">© 2024 Copyright:
                    <a href="#" class="text-white">
                        <strong>Hasan Huseynov</strong>
                    </a>
                </p>
            </div>
            <div class="col-md-5 col-lg-4">
                <div class="text-center text-md-right">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item"><a href="#" class="text-white" style="font-size: 23px;"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="text-white" style="font-size: 23px;"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="text-white" style="font-size: 23px;"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
